/**********************TAG SELECTORS*******************/
h1{
    color: red;
    font-size: 59px;
    text-align: center;
}

/**********************CLASS SELECTORS*******************/
.bacon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    width: 335px;
    
}

.broccoli{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    width: 335px;
    
}

p{
    font-size: 15pt;
    text-align: center;
}

/****************************ID SELECTORS************************/
#heading{
    color: blue;
}